---
import SidebarLayout from '../../layouts/SidebarLayout.astro';
import Bio from '../../components/Bio.astro';
import getPostData from '../../utils/getPostData';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/projects/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate, image } = frontmatter;
const { slug, readingTime } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}projects/${slug}`;
---

<SidebarLayout title={title} description={description} permalink={permalink}>
  <div class="container">
    <header>
      <p>{publishDate} ~ {readingTime}</p>
      <h1>{title}</h1>
      <hr />
    </header>
    <article class="content">
      <Content />
    </article>
    <Bio />
  </div>
</SidebarLayout>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  header {
    text-align: center;
    margin-bottom: 2rem;
  }

  header h1 {
    margin-bottom: 0.7em;
    color: var(--primary-color);
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
    border: none;
    border-top: 2px solid var(--primary-lighter);
  }

  .content {
    line-height: 1.7;
  }

  @media (max-width: 768px) {
    .container {
      padding: 4rem 1rem 1rem;
    }
  }
</style>
