---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Rafael Cacilhas - Projects';
const description = 'My projects.';
const permalink = `${Astro.site?.href}projects`;

let allProjects = await Astro.glob('../../data/projects/*.md');
allProjects = allProjects.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} currentPage="projects">
  <div class="container">
    <h1 class="page-title">Blog</h1>
    {allProjects.map((project, index) => {
      const href = `/blog/${project.file.split('/').pop()?.split('.').shift()}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h2>
              <a href={href}>{project.frontmatter.title}</a>
            </h2>
            <p>{project.frontmatter.description}</p>
            <div class="post-item-footer">
              <span class="post-item-date">— {project.frontmatter.publishDate}</span>
            </div>
          </div>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>

  .page-title {
    color: var(--secondary-color)
  }
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
